* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #c2f4fd;
}

.header {
    border-bottom: 1px solid #E2E8F0;
    background-color: rgb(252, 174, 30);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link {
    font-size: 1.6rem;
    font-weight: 400;
    color: white;
    padding: 5px;
    font-family: 'Gluten', cursive;
}

.nav-link:hover {
    background-color: #f3a108;
    border-radius: 5px;
    cursor: pointer;
}

.nav-logo {
    font-size: 2.5rem;
    font-weight: 500;
    color: white;
    font-family: 'Gluten', cursive;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }
    .nav-menu.active {
        left: 0;
    }
    .nav-item {
        margin: 2.5rem 0;
    }
    .hamburger {
        display: block;
        cursor: pointer;
    }
}

.slide {
    border-radius: 20px;
    background-image: url("https://images.pexels.com/photos/1260968/pexels-photo-1260968.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-repeat: no-repeat;
    background-size: contain;
    width: 30vw;
    height: 60vh;
    margin: 45px auto;
    padding-top: 45px;
    transition: 1.8s;
    animation: 20s linear alternate infinite sliding;
}

@keyframes sliding {
    0% {
        border-radius: 20px;
        background-image: url("https://images.pexels.com/photos/2983101/pexels-photo-2983101.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
        background-repeat: no-repeat;
        background-size: contain;
        width: 30vw;
        height: 60vh;
        margin: 45px auto;
        padding-top: 45px;
    }
    20% {
        border-radius: 20px;
        background-image: url("https://images.pexels.com/photos/1854652/pexels-photo-1854652.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
        background-repeat: no-repeat;
        background-size: contain;
        width: 30vw;
        height: 60vh;
        margin: 45px auto;
        padding-top: 45px;
    }
    40% {
        border-radius: 20px;
        background-image: url("https://images.pexels.com/photos/1998635/pexels-photo-1998635.jpeg");
        background-repeat: no-repeat;
        background-size: contain;
        width: 30vw;
        height: 60vh;
        margin: 45px auto;
        padding-top: 45px;
    }
    60% {
        border-radius: 20px;
        background-image: url("https://images.pexels.com/photos/1579926/pexels-photo-1579926.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
        background-repeat: no-repeat;
        background-size: contain;
        width: 30vw;
        height: 60vh;
        margin: 45px auto;
        padding-top: 45px;
    }
    80% {
        border-radius: 20px;
        background-image: url("https://images.pexels.com/photos/635409/pexels-photo-635409.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
        background-repeat: no-repeat;
        background-size: contain;
        width: 30vw;
        height: 60vh;
        margin: 45px auto;
        padding-top: 45px;
    }
    100% {
        border-radius: 20px;
        background-image: url("https://images.pexels.com/photos/1260968/pexels-photo-1260968.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
        background-repeat: no-repeat;
        background-size: contain;
        width: 30vw;
        height: 60vh;
        margin: 45px auto;
        padding-top: 45px;
    }
}

main {
    font-family: 'Grechen Fuemen', cursive;
}

h2 {
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Grechen Fuemen', cursive;
}

h3 {
    font-size: 1.5rem;
    font-family: 'Grechen Fuemen', cursive;
}

section {
    width: 75vw;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

figure {
    width: 400px;
    text-align: center;
    border: 1px solid rgb(226, 122, 122);
    border-radius: 10px;
    margin: 15px;
    transition: 200ms;
    transition-timing-function: cubic-bezier(0.34, 1.56, 0.64, 1);
    box-shadow: 2px 2px 20px 2px rgb(155, 152, 152);
    background-color: white;
}

figure img {
    border-radius: 25px;
    height: 330px;
    width: 95%;
    padding: 8px;
}

.left-div {
    display: grid;
    display: flex;
    margin-top: 20px;
}

.left h4 {
    color: #232f3e;
    margin: 20px;
}

.left {
    width: 65%;
    background-color: white;
    margin-left: 30px;
}

.right {
    width: 35%;
    background-color: #232f3e;
}

.right h4 {
    margin: 10px;
    color: white;
}

.ri {
    display: flex;
}

.ri div {
    margin: 10px;
    color: white;
}

.left input {
    outline: none;
    border: none;
    border-bottom: 1px solid #232f3e;
    font-size: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.left textarea {
    margin-left: 20px;
}

input[class="fill"]::placeholder {
    text-align: left;
    color: #232f3e;
    font-size: 15px;
    font-family: 'Grechen Fuemen', cursive;
}

textarea[class="fill"]::placeholder {
    text-align: left;
    color: #232f3e;
    font-size: 15px;
    font-family: 'Grechen Fuemen', cursive;
}

.left button {
    padding: 10px 20px;
    font-weight: bold;
    background-color: #232f3e;
    color: white;
    border: none;
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 25px;
    cursor: pointer;
    font-family: 'Grechen Fuemen', cursive;
    margin-left: 20px;
}